<div class="container mb-2" *ngIf="figurine">
    <div class="row pt-2">
        <div class="col-md-6">
            <mat-card>
                <img mat-card-image
                     *ngIf="figurine.img_name"
                     src="{{this.authUrl + '/figurines/file/' + this.figurine.img_name}}"
                     alt="Image figurine">
                <mat-icon *ngIf="!figurine.img_name">add_circle_outline</mat-icon>
                <mat-card-actions>
                    <app-add-list-button [idFigurine]="figurine.id" [collection]="true" [nbrUserAlready]="figurine.holders.length"></app-add-list-button>
                    <app-add-list-button [idFigurine]="figurine.id" [wishlist]="true" [nbrUserAlready]="figurine.researchers.length"></app-add-list-button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-6">
            <mat-card>
                <mat-card-title>{{figurine.name}}</mat-card-title>
                <mat-card-content>
                    <p>{{figurine.description}}</p>
                    <mat-chip-list>
                        <mat-chip *ngFor="let tag of figurine.tags">{{tag.name}}</mat-chip>
                        <mat-chip *ngIf="isAdmin"><mat-icon routerLink="/figurine/edit/{{figurine.id}}">settings</mat-icon></mat-chip>
                    </mat-chip-list>
                </mat-card-content>
            </mat-card>
            <div class="row pt-2">
                <div class="col-md-6">
                    <app-holders-list [holders]="figurine.holders"></app-holders-list>
                </div>
                <div class="col-md-6">
                    <app-researchers-list [researchers]="figurine.researchers"></app-researchers-list>
                </div>
            </div>
        </div>
    </div>
</div>
