<div class="row">
    <div class="pt-2" [ngClass]="isAdmin ? 'col-md-6' : 'col-md-12'">
        <div class="mat-card p-4">
            <div class="row">
                <div class="pt-2" [ngClass]="isAdmin ? 'col-md-12' : 'col-md-6'">
                    <form [formGroup]="userForm"
                          (ngSubmit)="onSubmit()">
                        <div class="mat-card-subtitle">
                            <h3>Informations générales</h3>
                        </div>

                        <div class="d-flex flex-row pb-4" *ngIf="!isAdmin">
                            <mat-slide-toggle formControlName="reseller"
                                              class="p-2"
                                              color="primary">Magasin
                            </mat-slide-toggle>
                            <mat-slide-toggle formControlName="producer"
                                              class="p-2"
                                              color="primary">Producteur
                            </mat-slide-toggle>
                            <mat-slide-toggle formControlName="collecte_point"
                                              class="p-2"
                                              color="primary">Point de collecte
                            </mat-slide-toggle>
                        </div>

                        <mat-form-field appearance="standard"
                                        color="accent">
                            <mat-label for="company">Société</mat-label>
                            <input matInput
                                   type="text"
                                   name="company"
                                   formControlName="company"
                                   id="company">
                        </mat-form-field>

                        <mat-form-field appearance="standard"
                                        color="accent">
                            <mat-label for="userName">Nom de l'utilisateur</mat-label>
                            <input matInput
                                   formControlName="username"
                                   id="userName"
                                   required
                                   placeholder="Enter his username">
                            <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('required')">
                                Le nom de l'utilisateur est requis
                            </mat-error>
                            <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('minlength')">
                                Le nom de l'utilisateur doit faire au moins 3 caractères
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard"
                                        color="accent">
                            <mat-label for="userEmail">Email</mat-label>
                            <input matInput
                                   formControlName="email"
                                   id="userEmail"
                                   required
                                   placeholder="Enter his email">
                            <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                                L'email est requis
                            </mat-error>
                            <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('email')">
                                L'email n'est pas valide
                            </mat-error>
                        </mat-form-field>

                        <div class="mat-card-subtitle">
                            <h3>Adresse de facturation</h3>
                        </div>

                        <fieldset formGroupName="address">
                            <mat-form-field appearance="standard"
                                            color="accent">
                                <mat-label for="address">Adresse</mat-label>
                                <input matInput
                                       name="address"
                                       formControlName="address"
                                       id="address">
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                            color="accent">
                                <mat-label for="address">Détails de l'adresse</mat-label>
                                <input matInput
                                       type="text"
                                       name="address_details"
                                       formControlName="address_details">
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                            color="accent">
                                <mat-label for="postal_code">Code postal</mat-label>
                                <input matInput
                                       type="text"
                                       name="postal_code"
                                       formControlName="postal_code"
                                       id="postal_code">
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                            color="accent">
                                <mat-label for="city">Ville</mat-label>
                                <input matInput
                                       type="text"
                                       name="city"
                                       formControlName="city"
                                       id="city">
                            </mat-form-field>
                        </fieldset>

                        <mat-form-field appearance="standard"
                                        color="accent">
                            <mat-label for="tel">Téléphone</mat-label>
                            <input matInput
                                   type="text"
                                   name="tel"
                                   formControlName="tel"
                                   id="tel">
                        </mat-form-field>

                        <div *ngIf="!profile" class="mat-card-subtitle">
                            <h3>Informations de connexion</h3>
                        </div>
                        <mat-form-field appearance="standard" *ngIf="!profile">
                            <mat-label>Rôle</mat-label>
                            <mat-select formControlName="role"
                                        (selectionChange)="onChangeRole($event)"
                                        required>
                                <mat-option *ngFor="let role of roles"
                                            [value]="role">
                                    {{role}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="roleCtrl.touched && roleCtrl.hasError('required')">
                                Un rôle est requis
                            </mat-error>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-md-6 pt-2" *ngIf="!isAdmin">
                    <form [formGroup]="userForm"
                          (ngSubmit)="onSubmit()">

                        <fieldset formGroupName="delivery_address">
                            <div class="mat-card-subtitle">
                                <h3>Adresse de livraison / collecte</h3>
                            </div>
                            <mat-form-field appearance="standard"
                                            class="mt-2"
                                            color="accent">
                                <mat-label for="delivery_address">Adresse</mat-label>
                                <input matInput
                                       name="address"
                                       formControlName="address"
                                       id="delivery_address">
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                            color="accent">
                                <mat-label for="delivery_address_details">Détails de l'adresse</mat-label>
                                <input matInput
                                       name="address_details"
                                       formControlName="address_details"
                                       id="delivery_address_details">
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                            color="accent">
                                <mat-label for="delivery_postal_code">Code postal</mat-label>
                                <input matInput
                                       name="postal_code"
                                       formControlName="postal_code"
                                       id="delivery_postal_code">
                            </mat-form-field>

                            <mat-form-field appearance="standard"
                                            color="accent">
                                <mat-label for="delivery_city">Ville</mat-label>
                                <input matInput
                                       name="city"
                                       formControlName="city"
                                       id="delivery_city">
                            </mat-form-field>
                        </fieldset>

                        <div class="mat-card-subtitle">
                            <h3>Informations logistique</h3>
                        </div>
                        <mat-slide-toggle formControlName="heavy_truck"
                                          color="primary">Accès poids lourd autorisé
                        </mat-slide-toggle>
                        <div class="d-flex flex-row">
                            <mat-slide-toggle formControlName="stacker"
                                              class="p-2"
                                              color="primary">Gerbeur
                            </mat-slide-toggle>
                            <mat-slide-toggle formControlName="forklift"
                                              class="p-2"
                                              color="primary">Chariot élévateur
                            </mat-slide-toggle>
                            <mat-slide-toggle formControlName="pallet_truck"
                                              class="p-2"
                                              color="primary">Transpalette
                            </mat-slide-toggle>
                        </div>

                        <mat-form-field appearance="standard"
                                        color="accent">
                            <mat-label for="delivery_schedules">Horaires livraison</mat-label>
                            <textarea matInput
                                      name="delivery_schedules"
                                      formControlName="delivery_schedules"
                                      id="delivery_schedules"></textarea>
                        </mat-form-field>

                        <mat-form-field appearance="standard"
                                        color="accent">
                            <mat-label for="delivery_data">Informations livraison</mat-label>
                            <textarea matInput
                                      name="delivery_data"
                                      formControlName="delivery_data"
                                      id="delivery_data"></textarea>
                        </mat-form-field>

                        <mat-form-field *ngIf="!profile"
                                        appearance="standard"
                                        color="accent">
                            <mat-label for="internal_data">Informations interne ( visible uniquement pour les admin )
                            </mat-label>
                            <textarea matInput
                                      name="internal_data"
                                      formControlName="internal_data"
                                      id="internal_data"></textarea>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="mat-card-actions">
                <button mat-raised-button
                        color="warn"
                        class="m-lg-2"
                        type="button"
                        routerLink="/user"
                        i18n="UserAdd.button.cancel">Annuler
                </button>
                <button mat-raised-button
                        color="primary"
                        type="submit"
                        (click)="onSubmit()"
                        [disabled]="userForm.invalid"
                        i18n="UserAdd.button.submit">Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
