<div class="row">
    <div class="pt-2 col-md-6">
        <div class="mat-card p-4">
            <div class="row">
                <div class="pt-2 col-md-12">
                    <form [formGroup]="userForm"
                          (ngSubmit)="onSubmit()">

                        <mat-form-field appearance="standard">
                            <mat-label>Nom de l'utilisateur</mat-label>
                            <input matInput
                                   formControlName="username"
                                   id="userName"
                                   required
                                   placeholder="Enter his username">
                            <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('required')">
                                Le nom de l'utilisateur est requis
                            </mat-error>
                            <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('minlength')">
                                Le nom de l'utilisateur doit faire au moins 3 caractères
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard">
                            <mat-label>Email</mat-label>
                            <input matInput
                                   formControlName="email"
                                   id="userEmail"
                                   required
                                   placeholder="Enter his email">
                            <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                                L'email est requis
                            </mat-error>
                            <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('email')">
                                L'email n'est pas valide
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" *ngIf="!profile">
                            <mat-label>Rôle</mat-label>
                            <mat-select formControlName="role"
                                        (selectionChange)="onChangeRole($event)"
                                        required>
                                <mat-option *ngFor="let role of roles"
                                            [value]="role">
                                    {{role}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="roleCtrl.touched && roleCtrl.hasError('required')">
                                Un rôle est requis
                            </mat-error>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div class="mat-card-actions">
                <button mat-raised-button
                        color="warn"
                        class="m-lg-2"
                        type="button"
                        routerLink="/user"
                        i18n="UserAdd.button.cancel">Annuler
                </button>
                <button mat-raised-button
                        color="primary"
                        type="submit"
                        (click)="onSubmit()"
                        [disabled]="userForm.invalid"
                        i18n="UserAdd.button.submit">Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>
