<div class="row">
    <h2>Ajouter un type de bouteille</h2>
    <div class="pt-2"
        [ngClass]="classFigurine">
        <h3>Informations générales</h3>
        <form [formGroup]="figurineForm"
            (ngSubmit)="onSubmit()">

            <mat-form-field appearance="standard"
                color="accent">
                <mat-label for="name">Nom du type de bouteille</mat-label>
                <input matInput
                    formControlName="name"
                    id="name"
                    placeholder="nom">
                <mat-error *ngIf="nameCtrl.touched && nameCtrl.hasError('required')">
                    Le nom du type de bouteille est requis
                </mat-error>
                <mat-error *ngIf="nameCtrl.touched && nameCtrl.hasError('minlength')">
                    Le nom du type de bouteille doit faire au moins 3 caractères
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                color="accent">
                <mat-label for="code">Code</mat-label>
                <input matInput
                    formControlName="code"
                    id="code"
                    placeholder="Code du type de bouteille">
                <mat-error *ngIf="codeCtrl.touched && codeCtrl.hasError('required')">
                    Le code est requis
                </mat-error>
                <mat-error *ngIf="codeCtrl.touched && codeCtrl.hasError('minlength')">
                    Le code doit faire au moins 3 caractères
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                color="accent">
                <mat-label for="registerPassword">Description</mat-label>
                <input matInput
                    name="description"
                    formControlName="description"
                    id="description">
                <mat-error *ngIf="descriptionCtrl.touched && descriptionCtrl.hasError('required')">
                    La description est requise
                </mat-error>
                <mat-error *ngIf="descriptionCtrl.touched && descriptionCtrl.hasError('minlength')">
                    La description doit faire au moins 3 caractères
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                color="accent">
                <mat-label for="price">Prix</mat-label>
                <input matInput
                    type="number"
                    formControlName="price"
                    id="price">
                <mat-error *ngIf="priceCtrl.touched && priceCtrl.hasError('required')">
                    Le prix est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                color="accent">
                <mat-label for="nbr_by_palette">Nombre de bouteilles par palette</mat-label>
                <input matInput
                    type="number"
                    formControlName="nbr_by_palette"
                    id="nbr_by_palette"
                    (change)="onChangePalettes()">
                <mat-error *ngIf="nbr_by_paletteCtrl.touched && nbr_by_paletteCtrl.hasError('required')">
                    Le nombre par palette est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                color="accent">
                <ngx-mat-file-input formControlName="img_figurine"
                    [accept]="'.png, .jpg, .jpeg'"
                    placeholder="Image de la bouteille"
                    valuePlaceholder="{{this.figurine && this.figurine.img_original_name ? this.figurine.img_original_name : 'Image de la bouteille ( PNG ou JPG ou JPEG)'}}">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-error *ngIf="img_figurineCtrl.touched && img_figurineCtrl.hasError('maxContentSize')">
                    La taille du fichier ne doit pas
                    dépasser {{img_figurineCtrl?.getError('maxContentSize').maxSize | byteFormat}}
                    ({{img_figurineCtrl?.getError('maxContentSize').actualSize
                    | byteFormat}}).
                </mat-error>
                <mat-error *ngIf="img_figurineCtrl.touched && img_figurineCtrl.hasError('imageFile')">
                    Le type de fichier doit-être : PNG ou JPG ou JPEG.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                color="accent">
                <ngx-mat-file-input formControlName="pdf_figurine"
                    [accept]="'.pdf'"
                    placeholder="PDF de la bouteille"
                    valuePlaceholder="{{this.figurine && this.figurine.pdf_original_name ? this.figurine.pdf_original_name : 'PDF de la bouteille'}}">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-error *ngIf="pdf_figurineCtrl.touched && pdf_figurineCtrl.hasError('maxContentSize')">
                    La taille du fichier ne doit pas
                    dépasser {{pdf_figurineCtrl?.getError('maxContentSize').maxSizePDF | byteFormat}}
                    ({{pdf_figurineCtrl?.getError('maxContentSize').actualSize
                    | byteFormat}}).
                </mat-error>
                <mat-error *ngIf="pdf_figurineCtrl.touched && pdf_figurineCtrl.hasError('imageFile')">
                    Le type de fichier doit-être : PDF.
                </mat-error>
            </mat-form-field>

            <button *ngIf="this.figurine && this.figurine.pdf_original_name"
                mat-raised-button
                title="voir le PDF"
                type="button"
                (click)="getFile(figurine.pdf_name)"
                i18n="FigurineEdit.button.pdf">voir le PDF
            </button>

            <h3 class="mt-2">État du stock</h3>

            <h4>{{nbrPalette}} Palette(s) de bouteilles propres</h4>

            <mat-form-field appearance="standard"
                color="accent">
                <mat-label for="internal_stock">Nombre de bouteilles propres</mat-label>
                <input matInput
                    type="number"
                    formControlName="internal_stock"
                    id="internal_stock"
                    (change)="onChangePalettes()">
                <mat-error *ngIf="internal_stockCtrl.touched && internal_stockCtrl.hasError('required')">
                    Le nombre par palette est requis
                </mat-error>
            </mat-form-field>

            <h4>{{nbrPaletteDirty}} Palette(s) de bouteilles sales</h4>

            <mat-form-field appearance="standard"
                color="accent">
                <mat-label for="internal_stock_dirty">Nombre de bouteilles sales</mat-label>
                <input matInput
                    type="number"
                    formControlName="internal_stock_dirty"
                    id="internal_stock_dirty"
                    (change)="onChangePalettes()">
                <mat-error *ngIf="internal_stock_dirtyCtrl.touched && internal_stock_dirtyCtrl.hasError('required')">
                    Le nombre par palette est requis
                </mat-error>
            </mat-form-field>



            <div class="flex-row pt-2">
                <button mat-raised-button
                    color="warn"
                    class="m-lg-2"
                    type="button"
                    routerLink="/figurine"
                    i18n="FigurineAdd.button.cancel">Annuler
                </button>
                <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="figurineForm.invalid || !figurineForm.dirty"
                    i18n="FigurineAdd.button.submit">Enregistrer
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-6 pt-2"
        *ngIf="figurine && figurine.img_name">
        <img class="img-fluid"
            src="{{this.authUrl + '/figurines/file/' + this.figurine.img_name}}"
            alt="Image bouteille">
    </div>
</div>