<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Reset password</h3>
        <form [formGroup]="userForm"
              (ngSubmit)="onReset()">
            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="registerPassword">Password</mat-label>
                <input matInput
                       type="password"
                       name="password"
                       formControlName="password"
                       id="registerPassword">
                <mat-error *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                    Username is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="passwordRepeat">Password confirmation</mat-label>
                <input matInput
                       type="password"
                       name="passwordRepeat"
                       formControlName="passwordRepeat"
                       id="password_repeat">
                <mat-error *ngIf="passwordRepeatCtrl.touched && passwordRepeatCtrl.hasError('required')">
                    Password confirmation is required
                </mat-error>
                <mat-error *ngIf="passwordRepeatCtrl.touched && passwordRepeatCtrl.hasError('mustMatch')">
                    Passwords must match
                </mat-error>
            </mat-form-field>
            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="userForm.invalid">Reset Password <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</div>
