<mat-toolbar color="primary">
    <h1>Identification</h1>

    <span class="spacer"></span>

    <button mat-stroked-button
            class="m-lg-2"
            routerLink=""
            aria-label="icon-button">
        <mat-icon>arrow_back</mat-icon>
    </button>
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-4">
            <form [formGroup]="userForm"
                  (ngSubmit)="onSubmit()">

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label>Email</mat-label>
                    <input matInput
                           formControlName="email"
                           placeholder="Enter identifier">
                    <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                        L'email est requis
                    </mat-error>
                    <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('email')">
                        L'email n'est pas valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label>Mots de passe</mat-label>
                    <input matInput
                           type="password"
                           formControlName="password">
                    <mat-error *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                        Le mots de passe est requis
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="userForm.invalid">
                    S'identifier
                </button>
                <button mat-button
                        color="primary"
                        [routerLink]="['/reset-password']">
                    Mots de passe oublié
                </button>
            </form>
        </div>
    </div>
</div>
