<div class="container">
    <div class="row">
        <div class="col-md-12 pt-2">
            <h3 i18n="@@FigurineList.title">Liste des types de bouteille</h3>

            <div>
                <label for="searchInput">
                    <input matInput
                        id="searchInput"
                        i18n-placeholder="@@FigurineList.findFigurine.placeholder"
                        placeholder="Rechercher un type de bouteille"
                        #input>
                </label>
            </div>

            <mat-table class="lessons-table mat-elevation-z8"
                [dataSource]="figurines"
                matSort
                matSortActive="name"
                matSortDirection="asc">

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@FigurineAttributes.name"> Nom
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let figurine"> {{figurine.name}} </mat-cell>
                </ng-container>

                <!-- Code Column -->
                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@FigurineAttributes.code"> Code
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let figurine"> {{figurine.code}} </mat-cell>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@FigurineAttributes.price"> Prix
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let figurine"> {{figurine.price | currency:'EUR':true}} </mat-cell>
                </ng-container>

                <!-- internal_stock Column -->
                <ng-container matColumnDef="internal_stock">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@FigurineAttributes.internal_stock"> Propre (bouteille/palette)
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let figurine"> {{figurine.internal_stock}}
                        / {{makeNbrPalette(figurine)}}</mat-cell>
                </ng-container>

                <!-- internal_stock_dirty Column -->
                <ng-container matColumnDef="internal_stock_dirty">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@FigurineAttributes.internal_stock_dirty"> Sale (bouteille/palette)
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let figurine"> {{figurine.internal_stock_dirty}}
                        / {{makeNbrPalette(figurine, true)}}</mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@FigurineAttributes.actions"> Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let figurine">
                        <button mat-mini-fab
                            (click)="addFigurines(figurine)"
                            title="Ajouter des bouteilles propres"
                            class="m-lg-2"
                            color="primary">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                        <button mat-mini-fab
                            (click)="addDirtyFigurines(figurine)"
                            title="Ajouter des bouteilles sales"
                            class="m-lg-2"
                            color="accent">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                        <button mat-mini-fab
                            (click)="editFigurine(figurine.id)"
                            title="Détails"
                            class="m-lg-2"
                            color="accent">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-mini-fab
                            (click)="deleteFigurine(figurine.id)"
                            title="Supprimer"
                            class="m-lg-2"
                            color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageIndex]="0"
                [length]="totalFigurines"
                [pageSize]="10"
                [pageSizeOptions]="[10, 20, 50]"
                [showFirstLastButtons]="true"></mat-paginator>

            <div class="spinner-container"
                *ngIf="figurines && figurines.loading$ | async">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="flex-row pt-2">
                <button mat-raised-button
                    class="m-lg-2"
                    color="primary"
                    routerLink="/figurine/add">
                    <span i18n="@@FigurineList.button.addFigurine">Ajouter un type de bouteille</span>
                </button>
                <button mat-raised-button
                    color="primary"
                    (click)="exportAllFigurines()">
                    <span i18n="@@FigurineList.button.exportFigurines">Exporter les bouteilles</span>
                </button>
            </div>

        </div>
    </div>
</div>