<div class="container">
    <div class="row">
        <div class="col-md-12 pt-2">
            <h3 i18n="@@UserList.title">Liste des utilisateurs</h3>

            <div>
                <label for="searchInput">
                    <input matInput
                        id="searchInput"
                        i18n-placeholder="@@UserList.findUser.placeholder"
                        placeholder="Rechercher un utilisateur"
                        #input>
                </label>
            </div>

            <mat-table class="lessons-table mat-elevation-z8"
                [dataSource]="users"
                matSort
                matSortActive="username"
                matSortDirection="asc">

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@UserAttributes.status"> Statut
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let user">
                        <mat-icon *ngIf="user.status === userStatus.ACTIVE"
                            color="primary">done</mat-icon>
                        <mat-icon *ngIf="user.status === userStatus.PENDING"
                            color="warn">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- Username Column -->
                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@UserAttributes.username"> Nom
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let user"> {{user.username}} </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@UserAttributes.email"> Email
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let user"> {{user.email}} </mat-cell>
                </ng-container>

                <!-- Tel Column -->
                <ng-container matColumnDef="tel">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@UserAttributes.tel"> Téléphone
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let user"> {{user.tel}} </mat-cell>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef
                        mat-sort-header
                        i18n="@@UserAttributes.city"> Ville
                    </mat-header-cell>
                    <mat-cell mat-cell
                        *matCellDef="let user">{{user.address ? user.address.city : '-'}}
                    </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef
                        i18n="@@UserAttributes.actions"> Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <button mat-mini-fab
                            *ngIf="user.status === userStatus.PENDING"
                            (click)="sendWelcome(user.id)"
                            title="Envoyer le mail d'activation"
                            class="m-lg-2"
                            color="accent">
                            <mat-icon>mail</mat-icon>
                        </button>
                        <button mat-mini-fab
                            (click)="editUser(user.id)"
                            title="Détails"
                            class="m-lg-2"
                            color="accent">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-mini-fab
                            (click)="deleteUser(user.id)"
                            title="Supprimer"
                            class="m-lg-2"
                            color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                    [class.user-admin]='row.role === Role.ADMIN'></mat-row>
            </mat-table>

            <mat-paginator [pageIndex]="0"
                [length]="totalUsers"
                [pageSize]="10"
                [pageSizeOptions]="[10, 20, 50]"
                [showFirstLastButtons]="true"></mat-paginator>

            <div class="spinner-container"
                *ngIf="users && users.loading$ | async">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="flex-row pt-2">
                <button mat-raised-button
                    class="m-lg-2"
                    color="primary"
                    routerLink="/user/add">
                    <span i18n="@@UserList.button.addUser">Ajouter un utilisateur</span>
                </button>
            </div>
        </div>
    </div>
</div>
