<div class="footer-container container text-center fixed-bottom">
    <div class="row"
        style="background-color: #fff;">
        <div class="col">
            <h3>Partager :</h3>
            <div class="row icons-social">
                <a target="_blank"
                    title="Facebook"
                    href="#">
                    <img class="icon-social mr-2"
                        src="assets/img/facebook.svg"
                        alt="Facebook">
                </a>
                <a target="_blank"
                    title="Twitter"
                    href="#">
                    <img class="icon-social mr-2"
                        src="assets/img/twitter.svg"
                        alt="Twitter">
                </a>
            </div>
        </div>
        <div class="col-8">
        </div>
    </div>
</div>