.spacer {
    flex: 1 1 auto;
}

.list-img-flex-container {
    display: flex;
}

img {
    max-height: 100px;
}

.icons-social {
    display: inline-block;
}

.icon-social {
    width: 48px;
}

.footer {
    background: #3f51b5;
}
