<div class="grid-container">
    <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
        [scrollWindow]="true"
    >
        <ngx-masonry [options]="masonryOptions">
            <div class="grid-sizer"></div>
            <div ngxMasonryItem class="masonry-item" *ngFor="let fig of figurines">
                <mat-card routerLink="/figurine/details/{{fig.id}}">
                    <img mat-card-image *ngIf="fig.img_name"
                         src="{{this.authUrl + '/figurines/file/' + fig.img_name}}"
                         alt="Photo of {{fig.name}}">
                    <mat-icon *ngIf="!fig.img_name">add_circle_outline</mat-icon>
                    <mat-card-title>{{fig.name}}</mat-card-title>
                    <mat-card-content>
                        <p>{{fig.description}}</p>
                    </mat-card-content>
                </mat-card>
                <div class="onHoverUI">
                    <button class="onHoverButtonHave"
                            color="primary"
                            mat-raised-button
                            matBadge="151"
                            matBadgeColor="accent">
                        Je l'ai
                    </button>
                    <button class="onHoverButtonWant"
                            color="primary"
                            mat-raised-button
                            matBadge="5"
                            matBadgeColor="accent">
                        Je la chercher
                    </button>
                </div>
            </div>
        </ngx-masonry>
    </div>

</div>
