.grid-sizer, .masonry-item {
    width: 300px;
    margin-bottom: 10px;
}

ngx-masonry {
    margin: 0 auto;
}

.onHoverUITop {
    display: none;
}

.onHoverUIBottom {
    display: none;
}

mat-card:hover img {
    opacity: 0.5;
}

mat-card:hover + .onHoverUITop, .onHoverUITop:hover {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 15px;
    width: 100%;
}

mat-card:hover + .onHoverUIBottom, .onHoverUIBottom:hover {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 15px;
    width: 100%;
}
