<div class="row ">
    <div class="col-md-12 mt-4">
        <h1>Bienvenue dans votre espace</h1>

        <div *ngIf="user && user.role === Role.ADMIN">
            <div class="row ">
                <div class="col-md-3 d-flex flex-column">
                    <button mat-raised-button
                        color="primary"
                        class="mt-2"
                        [routerLink]="'/user'">
                        <mat-icon>people</mat-icon>
                        <span> Utilisateurs</span>
                    </button>
                    <button mat-raised-button
                        color="primary"
                        class="mt-2"
                        [routerLink]="'/figurine'">
                        <mat-icon>smart_toy</mat-icon>
                        <span>Figurine</span>
                    </button>
                </div>
                <div class="col-md-9">
                </div>
            </div>
        </div>
    </div>
</div>
